*{
    box-sizing: border-box;
}
.main{
    width: 360px;
    height: 500px;
    background-color: black;
    /* margin-top: 220px; */
    display: flex;
    margin: auto;
    margin-top: 150px;
    border: 2px solid red;
}

input{
    height: 50px;
    width: 356px;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.keys{
    margin-left: 10px;
    margin-top: 20px;
}

